<div class="container-fluid mfooter text-white">
	<div class="row">
		<div class="col-12 offset-md-0 col-md-4">
			<div class="row">
				<strong><fa-icon [icon]="icons.addr"></fa-icon> Adresse : </strong>
				<span style="color:#c6c6c6"> Avenue Ibn Sina B.P 765, Agdal Rabat 10090, Maroc</span>
			</div>
			<div class="row">
				<strong><fa-icon [icon]="icons.phone"></fa-icon> Fix : </strong>
				<span><br><a href="tel:+212537687150"> (+212) 537 68 71 50 </a></span>
			</div>
			<div class="row">
				<strong><fa-icon [icon]="icons.email"></fa-icon> E-mail : </strong>
				<span><br><a href="mailto:contact@emi.ac.ma "> contact@emi.ac.ma </a></span>
			</div>
			<div class="row">
				<strong><fa-icon [icon]="icons.site"></fa-icon> Site web : </strong>
				<span><br><a href="https://www.emi.ac.ma" target="_blank"> www.emi.ac.ma</a></span>
			</div>
		</div>
		<div class="col-12  col-md-4 align-self-center text-center">
			<div class="mapouter" style="margin: auto">
				<div class="gmap_canvas text-center" style="padding:20px">
					<iframe id="gmap_canvas" style="height: 100%"
									src="https://maps.google.com/maps?q=Mohammadia%20school%20of%20engineers&t=&z=15&ie=UTF8&iwloc=&output=embed"
									frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
					<style>.mapouter {
						position: relative;
						text-align: right;
						height: 250px;
						max-width: 450px;

						width: 100%;
					}
					.gmap_canvas {
						overflow: hidden;
						background: none !important;
						height: 250px;
						max-width: 450px;
						width: 100%;
					}
					</style>

				</div>
			</div>
		</div>
		<div class="col-12   col-md-4 text-center text-md-right align-self-center">
			<img class="w-100" src="assets/logo_transparent.png" alt="">
		</div>
	</div>
</div>
<div class="col-sm-12 text-center copyright text-white">
	<div>
		© Copyright 2016 Ecole Mohammadia d'Ingénieurs - Tous les droits réservés
	</div>
</div>
