<div class="container pt-5">

	<div class=" emi row mb-3">
		<div class="dark text-white">
			<div class="col-6 d-none d-md-inline-block">
				Ecole Mohammadia D'ingénieurs
			</div>
			<div class="col-12 col-md-6 text-center text-md-right ">
				<div class="time">
					{{time}}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-lg-4">
			<input class="form-control" type="search" placeholder="Search" aria-label="Search" style="padding-left: 50px"
						 [(ngModel)]="search" (ngModelChange)="searchChanged()">
			<button class="btn btn-outline-primary my-2 " type="submit" style="    position: absolute;
    top: -7px;
    left: 15px;
    z-index: 5;">
				<fa-icon [icon]="icons.search"></fa-icon>
			</button>
		</div>
		<div class="col-12 col-lg-8 text-center text-lg-right">
			<strong>Afficher </strong>
			<select class="form-control w-auto m-0 d-inline-block" [(ngModel)]="display" (ngModelChange)="show()">
				<option>3</option>
				<option>5</option>
				<option>20</option>
				<option>30</option>
				<option>50</option>
			</select>
			<strong class="mr-3"> Par Page</strong>
			<strong class="mr-3 spliter">Type D'affichage</strong>
			<button class="btn btn-type" (click)="isCards = true;" [class.btn-active]="isCards">
				<fa-icon [icon]="icons.table"></fa-icon>
			</button>
			<button class="btn btn-type" (click)="isCards = false;" [class.btn-active]="!isCards">
				<fa-icon [icon]="icons.list"></fa-icon>
			</button>
		</div>
	</div>

	<div class="row list-exams" *ngIf="isCards">
		<div class="col-12 col-sm-6 col-md-4 p-2 offset-sm-3 offset-md-4" *ngIf="exams.length==0">
			<img src="assets/nothing.png" class="w-100">
			<h3 class="text-white text-center">Vous n'avez pas d'examens pour le moment</h3>
		</div>
		<div class="col-12 col-sm-6 col-md-4 p-2"
				 *ngFor="let exam of exams | paginate: { itemsPerPage: display, currentPage: p }">
			<div class="examCard h-100 pb-4">
				<h3 class="text-center">Examen en : {{exam.title}}</h3>
				<div class="row">
					<div class="col-6">
						<strong>
							Mr. / Mme.:
						</strong>

					</div>
					<div class="col-6">
						{{exam.tLname}} {{exam.tFname.substr(0,1)}}.
					</div>
					<div class="col-6">
						<strong>
							Email:
						</strong>

					</div>
					<div class="col-6">
						<a href="mailto:{{exam.email}}@emi.ac.ma">{{exam.email}}@emi.ac.ma</a>
					</div>

					<div class="col-6">
						<strong>
							Pour:
						</strong>
					</div>
					<div class="col-6 ">
						{{exam.classe.specialty}}{{exam.classe.year}} {{exam.classe.Groups}}
					</div>

					<div class="col-6">
						<strong>
							Effectué le:
						</strong>
					</div>
					<div class="col-6 ">
						{{displayDate(exam.start)}}

					</div>

					<div class="col-6">
						<strong>
							Effectué à:
						</strong>
					</div>
					<div class="col-6 ">
						{{displayTime(exam.start)}}

					</div>
					<div class="col-6">
						<strong>
							Durée:
						</strong>
					</div>
					<div class="col-6 ">
						{{exam.length.split(":")[0]}}h{{exam.length.split(":")[1]}}
					</div>
					<div class="col-6">
						<strong>
							Etat:
						</strong>
					</div>
					<div class="col-6 ">

						<fa-icon [icon]="exam.isPassed? icons.done:icons.notDone"
										 style="color:{{exam.isPassed? 'green':'orange'}}"></fa-icon>
						{{exam.isPassed ? "Examen Terminé" : "Examen Non Terminé"}}
					</div>

				</div>
				<div class="col-12 text-center details animate m-0" (click)="openExam(exam.id)">
					<strong class="d-block align-self-center">Plus de détails</strong>
				</div>

			</div>

		</div>

	</div>


	<div class="row list-exams" *ngIf="!isCards">
		<table class="table text-white">
			<thead>
			<tr>
				<th scope="col">Matière</th>
				<th scope="col">Enseignant</th>
				<th scope="col">Email</th>
				<th scope="col">Groupe</th>
				<th scope="col">Effectué le</th>
				<th scope="col">Effectué à</th>
				<th scope="col">Durée</th>
				<th scope="col">Etat</th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let exam of exams | paginate: { itemsPerPage: display, currentPage: p }">
				<td>{{exam.title}}</td>
				<td>{{exam.tLname}} {{exam.tFname.substr(0,1)}}.</td>
				<td><a href="mailto:{{exam.email}}@emi.ac.ma">{{exam.email}}@emi.ac.ma</a></td>
				<td>{{exam.classe.Speciality}}{{exam.classe.year}} {{exam.classe.Group}}</td>
				<td>{{displayDate(exam.start)}}</td>
				<td>{{displayTime(exam.start)}}</td>
				<td>{{exam.length.split(":")[0]}}h{{exam.length.split(":")[1]}}</td>
				<td>
					<fa-icon [icon]="exam.isPassed? icons.done:icons.notDone"
									 style="color:{{exam.isPassed ? 'green':'orange'}}"></fa-icon>
					{{exam.isPassed ? "Examen Terminé" : "Examen Non Terminé"}}</td>
				<td>
					<button class="btn animate" (click)="openExam(exam.id)">Ouvrir</button>
				</td>
			</tr>


			</tbody>
		</table>


	</div>
	<div class="col-12 text-center mt-4">
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>


</div>
