<div class="container-fluid">


	<div class="fill mb-3 text-white text-center d-none">
		<h2 class="">Bonjour {{fullName}}</h2>
		<h4 style="color: #e3a855">{{time}}</h4>
	</div>


	<div class="exams-parent m-md-4 my-5">
		<h2 class="text-center title">Examens Proches</h2>
		<div class="row text-center exams-holder mb-5">
			<ng-container *ngFor="let exam of getFutureExams(); let i = index;">
				<div class="col-12 col-md-6 col-lg-4 p-2" [class.m-md-auto]="getFutureExams().length<3">
					<div class="  exam-element p-2"  >
						<div class="row text-left">
							<div class="col-12 mb-2 text-center">
								<h2>{{exam.title}}</h2>
							</div>
							<div class="col-12 col-md-6">
								<div class="icon-holder">
									<fa-icon [icon]="icons.course"></fa-icon>
								</div>
								{{exam.dept}} {{exam.promo}}
							</div>

							<div class="col-12 col-md-6">
								<div class="icon-holder">
									<fa-icon [icon]="icons.book"></fa-icon>
								</div>
								{{showDifference(exam.start)}}
							</div>

							<div class="col-12 col-md-6">
								<div class="icon-holder">
									<fa-icon [icon]="icons.students"></fa-icon>
								</div>
								{{showGroups(exam.groups)}}
							</div>
							<div class="col-12 col-md-6">
								<div class="icon-holder">
									<fa-icon [icon]="exam.isVisible? icons.visible:icons.invisible"></fa-icon>
								</div>
								{{exam.isVisible? "Visible":"Invisible"}}
							</div>

							<div class="col-12 col-md-6 ">
								<div class="icon-holder">
									<fa-icon [icon]="icons.length"></fa-icon>
								</div>
								{{getLength(exam.length)}}</div>
							<div class="col-12 col-md-6">
								<div class="icon-holder">
									<fa-icon [icon]="icons.day"></fa-icon>
								</div>
								{{getDateFormat(exam.start)}} </div>

						</div>
						<div class="button-holder d-flex mt-2">
							<button class="btn d-f  btn-classic"  (click)="openExam(exam.id)">
								<fa-icon [icon]="icons.pen"></fa-icon> Modifier
							</button>
							<button class="btn  btn-classic" (click)="changeVisibility(exam.id,i)">
								<fa-icon [icon]="icons.visible"></fa-icon> Changer La Visibilité
							</button>
						</div>
					</div>

					<div class="loader" *ngIf="loaders[i]" (click)="loaders[i]= false">
						<div class="spinner-border text-white" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>

				</div>

			</ng-container>

		</div>
	</div>


	<div class="row m-md-4 exams-parent ">
		<div class="title">
			<h2 class="text-center">Calendrier</h2>
		</div>
		<div class="col-md-4 offset-md-1 m-3">
			<div class="btn-group">
				<div
					class="btn btn-primary pl-4 pr-4"
					mwlCalendarPreviousView
					[view]="view"
					[(viewDate)]="viewDate"
				>
					<fa-icon [icon]="icons.previous"></fa-icon>
				</div>
				<div
					class="btn btn-outline-warning pl-4 pr-4"
					mwlCalendarToday
					[(viewDate)]="viewDate"
				>
					<fa-icon [icon]="icons.now"></fa-icon>
				</div>
				<div
					class="btn btn-primary pl-4 pr-4"
					mwlCalendarNextView
					[view]="view"
					[(viewDate)]="viewDate"
				>
					<fa-icon [icon]="icons.next"></fa-icon>
				</div>
			</div>
		</div>
		<div class="col align-self-center">
			<h3>
				{{showDate()}}
			</h3>
		</div>
		<div class="col-md-4 offset-md-1 m-3">
			<div class="btn-group float-right">
				<button class="btn btn-primary" (click)="changeData()"><fa-icon [icon]="calendarDetails.startHour==8? icons.add:icons.minus"></fa-icon> {{calendarDetails.startHour==8? 'Etendre':'Réduire'}} le calendrier</button>
			</div>
		</div>


		<div class="col-12">
			<mwl-calendar-week-view
				[events]="exams"
				[viewDate]="viewDate"
				[eventTemplate]="template"
				[dayStartHour]="calendarDetails.startHour"
				[dayEndHour]="calendarDetails.endHour"
				[excludeDays]="calendarDetails.exclude"
				[hourSegmentHeight]="50"
			>

			</mwl-calendar-week-view>
		</div>
	</div>


	<ng-template #template let-weekEvent="weekEvent" let-locale="locale"
	>


		<div class="cal-event" (click)="openExam(weekEvent.event.id)">
			<div class="row">
				<div class="col">
					<strong>Titre: </strong> <span> {{weekEvent.event.title}}</span>
				</div>
				<div class="col">
					<strong>Durée: </strong> <span> {{weekEvent.event.length.h}}h{{weekEvent.event.length.m}}</span>
				</div>
				<div class="col">
					<strong>Pour: </strong> <span> {{weekEvent.event.dept}} {{weekEvent.event.promo}}</span>
				</div>
				<div class="col">
					<strong>Groupes: </strong> <span> {{weekEvent.event.groups}}</span>
				</div>
			</div>
		</div>

	</ng-template>

	<!--<ng-template #template let-weekEvent="weekEvent" let-column="column" let-locale="locale" let-eventClicked="eventClicked">
		<div class="cal-event" (mwlClick)="eventClicked.emit({ event: weekEvent.event })">
			{{column.events[0].event.title}}<br>
			{{show(column)}}
			ok
		</div>
	</ng-template>-->

</div>

<div class="leftButton ">
	<div class="toggler">
		<button class="btn">
			<fa-icon [icon]="icons.add" size="2x"></fa-icon>
		</button>
	</div>
	<div class="buttons  d-block text-center">
		<strong>Nouveau</strong>
		<button class="btn d-block" routerLink="/exams/newExam">
			 <fa-icon [icon]="icons.exam" ></fa-icon> Examen
		</button>
		<button class="btn"routerLink="/newGroup">
			<fa-icon [icon]="icons.students" ></fa-icon> Groupe
		</button>
	</div>
</div>
