<div class="container-fluid">
	<div class="container">
		<div class="row d-sm-none">
			<div class="col-12 col-md-10 col-lg-8 offset-0 offset-md-1 offset-lg-2 bg-warning mb-3 p-3 warning">
				<div class="icon d-inline">
					<fa-icon [icon]="icons.info"></fa-icon>
				</div>
				<div class="content d-inline text-center">
					<strong>Vous etes connecté depuis votre telephone, quelques fonctionalités ne seront pas visible. Merci
						d'utiliser une tablette ou un ordinateur</strong>
				</div>
			</div>
		</div>
		<div class=" emi row">

			<div class="dark text-white">
				<div class="col-6 d-none d-md-inline-block">
					Ecole Mohammadia D'ingénieurs
				</div>
				<div class="col-12 col-md-6 text-center text-md-right ">
					<div class="time">
						{{time}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fill mb-3">
		<h2 class="text-white text-center">Bonjour {{fullName}}</h2>
		<div class="holder">
			<div class="item">
				<div class="item-content ">
					Examens Passés
					<span class="text-primary">
						{{homeValues.passed}}
					</span>
				</div>
			</div>
			<div class="item">
				<div class="item-content">
					Examens réussis
					<span class=" text-success">
						{{homeValues.succeeded}}
					</span>
				</div>
			</div>
			<div class="item">
				<div class="item-content ">
					Note Moyenne
					<span class="text-warning">
						{{homeValues.avg}}
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-10 offset-md-1">
			<div class="exams-parent">
				<h2 class="text-center">Examens Proches</h2>
				<div class="row text-center exams-holder mb-5">
					<div class="col-12 col-sm-6 col-md-4 offset-sm-3 offset-md-4" *ngIf="closeExams.length==0">
						<img src="assets/nothing.png" class="w-100">
						<h2>Aucun examens n'a été programmé</h2>
					</div>
					<ng-container *ngFor="let exam of closeExams">
						<div class="col-12 col-md-6 col-lg-4 m-md-auto ">
							<div class="row exam-element text-left p-2">
								<div class="col-12 mb-2 text-center">
									<h2>{{exam.title}}</h2>
								</div>
								<div class="col-12 col-lg-6 ">
									<div class="icon-holder">
										<fa-icon [icon]="icons.professor"></fa-icon>
									</div>
									{{exam.professor}}</div>
								<div class="col-12 col-lg-6 ">
									<div class="icon-holder">
										<fa-icon [icon]="icons.length"></fa-icon>
									</div>
									{{getLength(exam.length)}}</div>
								<div class="col-12 col-lg-6 ">
									<div class="icon-holder">
										<fa-icon [icon]="icons.day"></fa-icon>
									</div>
									{{getDateFormat(exam.date)}}</div>
								<div class="col-12 col-lg-6 ">
									<div class="icon-holder">
										<fa-icon [icon]="icons.starTime"></fa-icon>
									</div>
									{{getJoinTime(exam.startTime)}}
								</div>
								<div class="col-12 mt-3">
									<button class="btn btn-classic w-100" [disabled]="!exam.isStarted" (click)="startExam(exam.id)">Commencer L'examen</button>
								</div>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>


	<div class="row m-4">
		<div class="col-12 mb-4">
			<h2 class="text-center">Mes Meilleurs Résultats</h2>
		</div>


		<div class="top-element col col-md-4" *ngFor="let x of top3">
			<div class="top-element-x">
				<div class="row first-part-top pt-3">
					<div class="element-mark">
						<span>Note: <strong>{{x.mark}}</strong></span>
					</div>
					<div class="col-12 col-lg-6 top-icon text-center align-self-center">
						<circle-progress
							[percent]="x.mark*100/20"
							[radius]="60"
							[showSubtitle]="false"
							[responsive]="true"
							[animation]="true">

						</circle-progress>
					</div>
					<div class="col-12 col-lg-6 top-details align-self-center">
						<div class="detail">
							<div class="icon-holder">
								<fa-icon [icon]="icons.book"></fa-icon>
							</div>
							{{x.class}}
						</div>
						<div class="detail">
							<div class="icon-holder">
								<fa-icon [icon]="icons.professor"></fa-icon>
							</div>
							{{x.professor}}
						</div>
						<div class="detail">
							<div class="icon-holder">
								<fa-icon [icon]="icons.email"></fa-icon>
							</div>
							<a href="mailto:{{x.email}}@emi.ac.ma">{{x.email}}</a>
						</div>
						<div class="detail">
							<div class="icon-holder">
								<fa-icon [icon]="icons.starTime"></fa-icon>
							</div>
							{{x.length}}
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-12">
						<h3 class="text-center">Détails de l'éxamen</h3>
					</div>
					<div class="col-8 col-lg-3 offset-2 offset-md-0">
						<circle-progress class="inner-progress"
														 [percent]="75.03" [innerStrokeWidth]="5"
														 [outerStrokeWidth]="20"
														 [showSubtitle]="false"
														 [responsive]="true"
														 backgroundColor="white"
														 [titleFontSize]="'50'"
														 [animation]="true">
						</circle-progress>
					</div>
					<div class=" col-12 col-lg-9">
						<div class="detail">
							<div class="icon-holder">
								<fa-icon [icon]="icons.starTime"></fa-icon>
							</div>
							DUREE
						</div>
						<span>Durée de l'examen : {{x.testlength}}</span><br>
						<span>Temps pris: {{x.length}}</span>
					</div>

					<div class="col-lg-3 col-8 offset-2 offset-md-0">
						<circle-progress class="inner-progress"
														 [percent]="62.56" [innerStrokeWidth]="5"
														 [outerStrokeWidth]="20"
														 [showSubtitle]="false"
														 [responsive]="true"
														 backgroundColor="white"
														 [titleFontSize]="'50'"
														 [animation]="true">
						</circle-progress>
					</div>
					<div class="col-12 col-lg-9">
						<div class="detail">
							<div class="icon-holder">
								<fa-icon [icon]="icons.length"></fa-icon>
							</div>
							Temps Moyen
						</div>
						<span>Temps moyen de réponse : {{x.avg}}</span><br>
						<span>Durée moyene des questions : {{x.classavg}}</span>
					</div>


				</div>
			</div>
		</div>

	</div>
	<ng-template #customCellTemplate let-day="day" let-locale="locale">
		<div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
		>{{ day.badgeTotal }}</span
		>
			<span class="cal-day-number"
			>{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
			>
		</div>
		<small style="margin: 5px;" *ngIf="day.events.length!==0">
			<strong>Titre:</strong> {{ day.events[0].title }}<br><strong>heure: </strong>{{day.events[0].time}}<br><strong>durée: </strong>{{day.events[0].length}}
		</small>
		<small style="margin: 5px;" *ngIf="day.events.length==0">
			&nbsp;<br> &nbsp;<br> &nbsp;
		</small>
	</ng-template>

	<div class="row pt-4 pb-4 d-sm-inline-flex d-none w-100">
		<div class="col-12 mb-4">
			<h2 class="text-center">Calendrier</h2>
		</div>
		<div class="col-md-4 offset-md-1">
			<div class="btn-group">
				<div
					class="btn btn-primary pl-4 pr-4"
					mwlCalendarPreviousView
					[view]="view"
					[(viewDate)]="viewDate"
					(viewDateChange)="closeOpenMonthViewDay()"
				>
					<fa-icon [icon]="icons.previous"></fa-icon>
				</div>
				<div
					class="btn btn-outline-warning pl-4 pr-4"
					mwlCalendarToday
					[(viewDate)]="viewDate"
				>
					<fa-icon [icon]="icons.now"></fa-icon>
				</div>
				<div
					class="btn btn-primary pl-4 pr-4"
					mwlCalendarNextView
					[view]="view"
					[(viewDate)]="viewDate"
					(viewDateChange)="closeOpenMonthViewDay()">
					<fa-icon [icon]="icons.next"></fa-icon>
				</div>
			</div>
		</div>
		<div class="col offset-md-1">
			<h2>{{displayMonth()}}</h2>
		</div>
		<div class="col-12 col-md-10 offset-md-1">
			<mwl-calendar-month-view
				[events]="events"
				[viewDate]="viewDate"
				[weekStartsOn]="weekStartsOn"
				[cellTemplate]="customCellTemplate"
				[weekendDays]="weekendDays"
				[excludeDays]="[6,0]"
			>

			</mwl-calendar-month-view>
		</div>
	</div>


</div>
