<div class="container-fluid">

	<div class="row parent-holder">

		<div class="col-12 p-lg-5 p-md-3 text-center">
			<h2>Mes Examens</h2>
		</div>
			<div class="col-12  p-md-2 ">
				<button class="btn addNew mb-3" routerLink="/exams/newExam">Créer un Examen
					<fa-icon [icon]="icons.plus"></fa-icon>
				</button>
				<div class="mborders p-md-2">
					<div class="row m-0 ">
						<div class="col-12">
							<h2 class="text-center pt-2 "
									*animIf="true; info: { startAnim: 'bounceIn', endAnim: 'bounceOut', time: 500 }">Examens à venir</h2>
						</div>
						<div class="col-12 ">
							<strong>Type d'affichage</strong>
							<button class="btn btn-type" (click)="isCardsNew = true;" [class.btn-active]="isCardsNew">
								<fa-icon [icon]="icons.table"></fa-icon>
							</button>
							<button class="btn btn-type" (click)="isCardsNew = false;" [class.btn-active]="!isCardsNew">
								<fa-icon [icon]="icons.list"></fa-icon>
							</button>
							<div class="float-right d-inline-block">
								<strong>Afficher </strong>
								<select class="form-control w-auto m-0 d-inline-block" [(ngModel)]="itemsPerPageNew">
									<option>3</option>
									<option>5</option>
									<option>20</option>
									<option>30</option>
									<option>50</option>
								</select>
								<strong class="mr-3"> Par Page</strong>
							</div>
						</div>
						<div class="offset-md-4 col-md-4 col-12 text-center" *ngIf="cardsNew.length==0">
							<img class="w-100" src="assets/nthing2.png" alt="">
						</div>
						<ng-container
							*ngFor="let card of cardsNew  | paginate: {id:'second',itemsPerPage: itemsPerPageNew, currentPage: pageNew } let i = index;">
							<div class="col-12 col-md-6 m-auto col-lg-4 element "
									 *animIf="isCardsNew; info: { startAnim: 'bounceIn', endAnim: 'fadeOut', time: 500 }">

								<div class="row bg-white m-0">
									<div class="col-12 text-center p-2">
										<h3>{{card.title}}</h3>
									</div>

									<div class="col-12">
										<strong>
											<fa-icon [icon]="icons.start"></fa-icon>
											Début: </strong>
										{{displayDate(card.start)}}
									</div>

									<div class="col-12">
										<strong>
											<fa-icon [icon]="icons.length"></fa-icon>
											Durée: </strong>
										{{card.length}}
									</div>

									<div class="col-12 col-md-6">
										<strong>
											<fa-icon [icon]="icons.class"></fa-icon>
											Classe: </strong> {{card.class.speciality}} {{card.class.year}}
									</div>

									<div class="col-12 col-md-6">
										<strong>
											<fa-icon [icon]="icons.group"></fa-icon>
											Groupe(s):</strong>
										<span> {{card.class.groups}} </span>
									</div>

									<div class="col-12 text-center incomming-exams">
										<button class="btn w-40" (click)="changeVisibility(card.id,card.visible,i)"> <fa-icon [icon]="!card.visible? icons.eye:icons.noEye"></fa-icon> rendre {{card.visible? "Invisible":"Visible"}}</button>
										<button class="btn w-40"  (click)="startExam(card.id,card.started,i)"> <fa-icon [icon]="!card.started? icons.check:icons.close"></fa-icon> {{card.started? "Arreter":"Démarer"}} l'examen</button>
										<button class="btn w-40" (click)="editExam(card.id)"> <fa-icon [icon]="icons.pen"></fa-icon> Modifier l'examen</button>
										<button class="btn animate w-40" (click)="openExam(card.id)">Afficher l'examen</button>
									</div>
								</div>
							</div>

						</ng-container>
						<div *ngIf="!isCardsNew" class="col-12 element ">
							<table class="table ">
								<thead>
								<tr>
									<th scope="col">Matière</th>
									<th scope="col">Début</th>
									<th scope="col">Durée</th>
									<th scope="col">Génie</th>
									<th scope="col">Promotion</th>
									<th scope="col">Groupes</th>
									<th scope="col"></th>
								</tr>
								<ng-container
									*ngFor="let card of cardsNew  | paginate: {id:'second', itemsPerPage: itemsPerPageNew, currentPage: pageNew }; let i = index">
									<tr *animIf="!isCardsNew; info: { startAnim: 'fadeInUp', endAnim: 'fadeOutUp', time: 500}">
										<td>{{card.title}}</td>
										<td>{{displayDate(card.start)}}</td>
										<td>{{card.length}}</td>
										<td>{{card.class.speciality}}</td>
										<td>{{card.class.year}}</td>
										<td> <span > {{card.class.groups}} </span> </td>
										<td class="incomming-exams text-right">
											<button class="btn " (click)="changeVisibility(card.id,card.visible,i)"> <fa-icon [icon]="!card.visible? icons.eye:icons.noEye"></fa-icon> rendre {{card.visible? "Invisible":"Visible"}}</button>
											<button class="btn " (click)="startExam(card.id,card.started,i)"> <fa-icon [icon]="!card.started? icons.check:icons.close"></fa-icon> {{card.started? "Arreter":"Démarer"}} l'examen</button>
											<button class="btn " (click)="editExam(card.id)"> <fa-icon [icon]="icons.pen"></fa-icon> Modifier l'examen</button>
											<button class="btn animate" (click)="openExam(card.id)">Afficher l'examen</button>
										</td>
									</tr>
								</ng-container>
								</thead>

							</table>
							<!--<div class="row bg-white m-0">
								<div class="col-12 text-center p-2">
									<h3>{{card.title}}</h3>
								</div>

								<div class="col-12">
									<strong>
										<fa-icon [icon]="icons.start"></fa-icon>
										Début: </strong>
									{{displayDate(card.start)}}
								</div>

								<div class="col-12">
									<strong>
										<fa-icon [icon]="icons.length"></fa-icon>
										Durée: </strong>
									{{displayLength(card.start, card.end)}}
								</div>

								<div class="col-12 col-md-6">
									<strong>
										<fa-icon [icon]="icons.class"></fa-icon>
										Classe: </strong> {{card.class.speciality}} {{card.class.year}}
								</div>

								<div class="col-12 col-md-6">
									<strong>
										<fa-icon [icon]="icons.group"></fa-icon>
										Groupe(s):</strong>
									<span *ngFor="let grp of card.class.groups"> {{grp}} </span>
								</div>

							</div>-->

						</div>
						<div class="col-12 text-center mt-4">
							<pagination-controls (pageChange)="pageNew = $event" id="second"></pagination-controls>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12  p-md-2">
				<div class="mborders p-md-2 ">
					<div class="row m-0">
						<div class="col-12">
							<h2 class="text-center pt-2 "
									*animIf="true; info: { startAnim: 'bounceIn', endAnim: 'bounceOut', time: 500 }">Examens passés</h2>
						</div>
						<div class="col-12 ">
							<strong>Type d'affichage</strong>
							<button class="btn btn-type" (click)="isCardsOld = true;" [class.btn-active]="isCardsOld">
								<fa-icon [icon]="icons.table"></fa-icon>
							</button>
							<button class="btn btn-type" (click)="isCardsOld = false;" [class.btn-active]="!isCardsOld">
								<fa-icon [icon]="icons.list"></fa-icon>
							</button>
							<div class="float-right d-inline-block">
								<strong>Afficher </strong>
								<select class="form-control w-auto m-0 d-inline-block" [(ngModel)]="itemsPerPageOld">
									<option>3</option>
									<option>5</option>
									<option>20</option>
									<option>30</option>
									<option>50</option>
								</select>
								<strong class="mr-3"> Par Page</strong>
							</div>
						</div>
						<div class="offset-md-4 col-md-4 col-12 text-center" *ngIf="cardsOld.length==0">
							<img class="w-100" src="assets/nthing2.png" alt="">
						</div>

						<ng-container
							*ngFor="let card of cardsOld  | paginate: { itemsPerPage: itemsPerPageOld, currentPage: pageOld }">
							<div class="col-12 m-auto col-md-6 col-lg-4 element "
									 *animIf="isCardsOld; info: { startAnim: 'bounceIn', endAnim: 'fadeOut', time: 500 }">

								<div class="row bg-white m-0 pb-3">
										<div class="col-12 text-center p-2">
											<h3>{{card.title}}</h3>
										</div>

										<div class="col-12">
											<strong>
												<fa-icon [icon]="icons.start"></fa-icon>
												Début: </strong>
											{{displayDate(card.start)}}
										</div>



										<div class="col-12">
											<strong>
												<fa-icon [icon]="icons.length"></fa-icon>
												Durée: </strong>
											{{card.length}}
										</div>

										<div class="col-12 col-md-6">
											<strong>
												<fa-icon [icon]="icons.class"></fa-icon>
												Classe: </strong> {{card.class.speciality}} {{card.class.year}}
										</div>

										<div class="col-12 col-md-6">
											<strong>
												<fa-icon [icon]="icons.group"></fa-icon>
												Groupe(s):</strong>
											<span> {{card.class.groups}} </span>
										</div>

									<div class="col-12">
										<strong>
											<fa-icon [icon]="icons.start"></fa-icon>
											Début: </strong>
										{{displayDate(card.start)}}
									</div>

									<div class="col-12">
										<strong>
											<fa-icon [icon]="icons.length"></fa-icon>
											Durée: </strong>
										{{card.length}}
									</div>

									<div class="col-12 col-md-6">
										<strong>
											<fa-icon [icon]="icons.class"></fa-icon>
											Classe: </strong> {{card.class.speciality}} {{card.class.year}}
									</div>

									<div class="col-12 col-md-6">
										<strong>
											<fa-icon [icon]="icons.group"></fa-icon>
											Groupe(s):</strong>
										<span> {{card.class.groups}} </span>
									</div>

								</div>
								<div class="incomming-exams text-right d-flex">
									<button class="btn animate" style="flex:1" (click)="openExam(card.id)">Afficher l'examen</button>
									<button class="btn animate" style="flex:1" (click)="showResults(card.id)">Afficher les résultats</button>
								</div>
							</div>

						</ng-container>
						<div *ngIf="!isCardsOld" class="col-12 element ">
							<table class="table ">
								<thead>
								<tr>
									<th scope="col">Matière</th>
									<th scope="col">Début</th>
									<th scope="col">Durée</th>
									<th scope="col">Génie</th>
									<th scope="col">Promotion</th>
									<th scope="col">Groupes</th>
									<th scope="col"></th>
								</tr>
								<ng-container
									*ngFor="let card of cardsOld  | paginate: { itemsPerPage: itemsPerPageOld, currentPage: pageOld }">
									<tr *animIf="!isCardsOld; info: { startAnim: 'fadeInUp', endAnim: 'fadeOutUp', time: 500}">
										<td>{{card.title}}</td>
										<td>{{displayDate(card.start)}}</td>
										<td>{{card.length}}</td>
										<td>{{card.class.speciality}}</td>
										<td>{{card.class.year}}</td>
										<td> <span > {{card.class.groups}} </span> </td>
										<td>
											<button class="btn animate" (click)="openExam(card.id)">Détails</button>
										</td>
									</tr>
								</ng-container>
								</thead>

							</table>
							<!--<div class="row bg-white m-0">
								<div class="col-12 text-center p-2">
									<h3>{{card.title}}</h3>
								</div>

								<div class="col-12">
									<strong>
										<fa-icon [icon]="icons.start"></fa-icon>
										Début: </strong>
									{{displayDate(card.start)}}
								</div>

								<div class="col-12">
									<strong>
										<fa-icon [icon]="icons.length"></fa-icon>
										Durée: </strong>
									{{displayLength(card.start, card.end)}}
								</div>

								<div class="col-12 col-md-6">
									<strong>
										<fa-icon [icon]="icons.class"></fa-icon>
										Classe: </strong> {{card.class.speciality}} {{card.class.year}}
								</div>

								<div class="col-12 col-md-6">
									<strong>
										<fa-icon [icon]="icons.group"></fa-icon>
										Groupe(s):</strong>
									<span *ngFor="let grp of card.class.groups"> {{grp}} </span>
								</div>

							</div>-->

						</div>
						<div class="col-12 text-center mt-4">
							<pagination-controls (pageChange)="pageOld = $event"></pagination-controls>
						</div>


					</div>
				</div>
			</div>
	</div>

</div>
